.banner-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.banner-container h1 {
  margin: 0 !important;
  padding: 0 !important;
}

.banner-pretitle {
  font-size: calc(14px + 1vmin);
  color: var(--accent-colour);
}
.banner-title {
  font-size: calc(50px + 6vmin);
}
.banner-subtitle {
  font-size: calc(14px + 2vmin);
  color: var(--secondary-text-colour);
}
