.preloader-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader-loader {
  overflow: hidden;
  border-bottom: 5px solid var(--bg-colour);
  box-shadow: 0 4px 5px -5px black;
  animation: show 1s ease-in-out;
}

.preloader-img {
  height: 130px;
}

@keyframes show {
  0% {
    height: 0px;
  }
  100% {
    height: 135px;
  }
}
