@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --bg-colour: #03002E;
  --secondary-bg-colour: #03254C;
  --text-colour: #f2fbff;
  --secondary-text-colour: #365880;
  --accent-colour: #3dd3f4;

  --page-margins: 250px;

  --ftprojects-br: 10px;
}

.web-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: var(--text-colour);
  background-color: var(--bg-colour);
  font-family: "Signika Negative", sans-serif;
  /* font-family: "Comfortaa", cursive; */
}

.page-container {
  width: calc(100vw - 2 * var(--page-margins));
  height: 100%;
}

.homepage-title {
  font-size: 44px;
  margin-bottom: 40px;
}
.coloured {
  color: var(--accent-colour);
}

/* -------------------- PRELOADER -------------------- */
.page-shown {
  opacity: 1;
  /* animation: fadeIn 500ms; */
  transition: all 500ms ease-in-out;
}
.page-hidden {
  opacity: 0;
  /* animation: fadeOut 500ms; */
  transition: all 500ms ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

Navbar {
  padding: 0 !important;
  margin: 0 !important;
}

@media only screen and (max-width: 992px) {
  :root {
    --page-margins: 50px;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --page-margins: 50px;
  }
}

/* -------------------- SCOLLBAR -------------------- */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-colour);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-bg-colour);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-text-colour);
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
